<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-7">
				<h3>{{ object.descripcion }}</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<label>Attribute:</label>
				<p>{{ object.attribute }}</p>
				<label>crop1:</label>
				<p>{{ object.crop1 }}</p>
                <label>crop2:</label>
				<p>{{ object.crop2 }}</p>
                <label>crop3:</label>
				<p>{{ object.crop3 }}</p>

				<label>ESTADO:</label>
				{% if object.estado %}
					<p>ACTIVO</p>
				{% else %}
					<p>INACTIVO</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>